.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.8rem;
    height: 7.8rem;
    border-radius: 50%;
    background-color: white;
}